package-lock=false
registry=http://repo.yupaopao.com/artifactory/api/npm/npm-repo/
//repo.yupaopao.com/artifactory/api/npm/npm-repo/:_password=ZmVAYml4aW4uY24=
//repo.yupaopao.com/artifactory/api/npm/npm-repo/:username=fe_deploy
//repo.yupaopao.com/artifactory/api/npm/npm-repo/:email=fe@bixin.cn
//repo.yupaopao.com/artifactory/api/npm/npm-repo/:always-auth=true